@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container-fluid {
padding-left: 0rem;
  padding-right: 0rem;
  overflow: hidden;
}

/* -- Navigation Bar --*/
/*-- Credit - Code inspiration borrowed from "Responsive Navigation Menu Bar with HTML CSS & Javascript | CSS Flexbox" Tutorial by CodingNepal- https://www.youtube.com/watch?v=mbDNrvKLAGM --*/
nav {
    background-color: #056e96;
    padding: 5px 0 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul li {
    padding: 10px 0;
    cursor: pointer;
}

nav ul li.nav-link {
    width: auto;
    margin: 0 15px;
    text-align: center;
    position: relative;
    order: 3;
}

nav ul li.nav-link:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 7px;
    background: #2aacb6;
    opacity: 0;
    transition: linear all 0.3s; 
}

nav ul li.nav-link:hover:after {
    opacity: 1;
    bottom: 5px;
}

nav ul li.nav-brand {
    flex: 1;
    color: #ebe6e4;
    font-size: 1.5rem;
    padding-left: 15px;
}

nav ul li.nav-logo {
    display: flex;
    padding: 0 0 5px 2px;
    margin-left: -17px;
    cursor: default;
    user-select: none;
}

nav ul li a {
    color: #ebe6e4;
    text-decoration: none;
    font-size: 1.3rem;
    transition: 0.5s;
}

nav ul li:hover a {
    color: #0b2c5c;
    text-decoration: none;
}

nav ul li i {
    font-size: 40px;
}

nav ul li.nav-btn {
    display: none;
    font-size: 1.6rem;
    color: #ebe6e4;
    padding-right: 10px;
}

nav ul li.nav-btn:hover.show:before {
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

/*-- Responsive rules for Navigation Bar --*/
@media all and (max-width:900px) {
 nav {
     padding: 2px 5px;
 }

 nav ul li.nav-link {
     width: 100%;
     display: none;
 }

 nav ul li.nav-link.show {
     display: block;
 }

 nav ul li.nav-link:hover {
     box-shadow: 0 0 20px #2aacb6;
     border-radius: 10px;
 }

 nav ul li.nav-link:hover:after {
     opacity: 0;
 }

 nav ul li.nav-brand {
     font-size: 1.5rem;
     padding-bottom: 2px;
 }

 nav ul li.nav-logo {
    padding: 0 0 0 20px;
    margin-top: 10px;
}

 nav ul li a {
     font-size: 1rem;
 }

 nav ul li.nav-btn {
    display: block;
}
}

/*-- HOME Section - Background slider --*/
/*-- Credit - Code inspiration borrowed from "Carousel Slider Bootstrap 5 | Slider Carousel" Tutorial by Adrian Twarog - https://www.youtube.com/watch?v=ku_97a6Bgkg --*/
.carousel-item {
    height: 42rem;
    background:#0b2c5c;
    color: #ebe6e4;
    font-weight: 900;
    position: relative;
    text-align: center;
    padding-top: 50px;
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 100px;    
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 70px;
    background-position: center center;
    background-size: cover;
}

/*-- About Section --*/

#about-page {
    background: #64b3b7;
}


/*-- TRIPS Section --*/
/*-- Credit - Code inspiration borrowed from content of "JQuery Effects - Challenge 3" by Code Institute course- https://courses.codeinstitute.net/courses/course-v1:CodeInstitute+IFD101+2017_T3/courseware/b99394c03fb342ed96e82caa5adef426/cb6592e199ef45d5a3db4cf83691b70f/?child=first --*/
#trips-page {
    background: #ebe6e4;
}

#wrapper {
	box-sizing:border-box;
	margin-right:auto;
	margin-left:auto;
	width: 100%;	
}

.card ul {
    list-style-position: inside;
    text-align: center;
}

.card {
	margin-top: 10px;
	padding: 20px;
	background-color: #5d9dbc;
}

#wrapper button {
    box-sizing: border-box;
    border-radius: 15px;
    display: block;
    width: 100%;
    background-color: #0b2c5c;
    text-align: center;
    padding: 0.5rem 0.3rem;
    border: none;
    color: #ebe6e4;
	font-size: 2rem
}

#wrapper button:hover {
    background-color: #2aacb6;
    transition: 1s;
    color: #0b2c5c;
    border: #0b2c5c solid 1px;
}

/*-- Responsive rules for Trips Section --*/
@media screen and (min-width: 600px) {
	#wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 10px;
	}
}

/*-- Contact Section --*/
/*-- Credit - Code inspiration borrowed from "Responsive Form on top of Responsive Image - Bootstrap" documentation by Stack Overflow - https://stackoverflow.com/questions/31294236/responsive-form-on-top-of-responsive-image-bootstrap --*/
#contact-page {
    background-color: #e7dcd1;
}

#responsiveForm{
    background-image: url(/assets/images/cala_goloritze.jpg);
    background-size: cover;
    background-size: 100% 100%;
    border-radius: 15px;
    min-height: 400px;
    padding: 80px;
    margin-bottom: 100px;
    color: #ebe6e4;
    font-weight: bolder;
    font-size: 1.5rem;
  }

.form-control.btn {
      background-color:#2aacb6;
      color: #0b2c5c;
    font-weight: bolder;
    font-size: 1.5rem;
    border: none;
  }

  .form-control.btn:hover {
      background-color: #0b2c5c;
      border: #ebe6e4 solid 1px;
      color: #ebe6e4;
  }

/*-- Footer --*/
footer {
    height: 3.9rem;
    color: #ebe6e4;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-media {
    text-align:center;
    background-color:#056e96;
}

.social-media li {
    display: inline;
}

.social-media a {
    color: #ebe6e4;
    font-size: 1.9rem;
     padding: 10px;
}

.social-media a:hover {
    background-color: #2aacb6;
    color: #0b2c5c;
    border-radius: 7px;
    padding: 2px;
    transition: 1s;
}

.social-media li p {
    text-align: center;
    font-size: 0.6rem;
    padding-bottom: 3px;
}

/*-- Responsive rules for Footer --*/
@media all and (max-width:900px) {
footer {
    height: 2.5rem;
}  

.social-media a {
    color: #ebe6e4;
    font-size: 1.3rem;
}

.social-media li p {
    text-align: center;
    font-size: 0.4rem;
    padding-bottom: 3px;
}
}